<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="footer__logo">
                    <a href="/"><img src="{{ asset('assets/images/GamerzLogo.png') }}" class="footer__logo" alt="Logo_no_background"></a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="footer__nav">
                    <ul>
                        <li class="active"><a href="/">Homepage</a></li>
                        <li><a href="{{ path('app_category') }}">Categories</a></li>
                        <li><a href="{{ path('app_contact') }}">Contact us</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <p class="footer__copyright__text">
                  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | GamerZ
                  </p>

            </div>
        </div>
    </div>
</footer>